@import '../main';

.page__title {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-columns {
  display: flex;
  font-size: 1.5em;
}
.text-columns__column {
  margin: 0 1em;
  text-align: justify;
}
.plain-text {
  font-size: 1.5em;
  text-align: justify;
  padding: 0 1em;
}

.header {
  margin-bottom: 2em;
}