@import '../main';

.page--registration__form {
  width: 70%;
  min-width: 15em;
  min-height: 20em;
}

.page--registration__content {
  display: flex;
  justify-content: center;
  align-items: center;
}