form.form.main-menu-panel__section(data-section-id='login')
    h3.form__title Log in

    .form__input-row
        input.form__input#login__login(
        type='text', name='login',
        placeholder='Login'
        )
    .form__input-row
        input.form__input#login__pw(
        type='password', name='password',
        placeholder='Password',
        )
    .form__row
        button.form__btn Log in
    .form__row
        a.form__link(href='#') Forgot password
        a.form__link(href='#') Register
