nav.menu.main-menu
    a.logo.main-menu__logo(href="/")
        img.logo__image.main-menu__logo-image(src='assets/img/logo.svg', alt='logo')

    each link in menuItems
        a.menu__item.main-menu__item(
        href = link.link,
        class = {'main-menu__item--active': link.active, 'main-menu__item--js-switch': link.isMenuSwitch}
        )
            i.main-menu__item-icon(class = ['fa', `fa-${link.icon}`])
            .main-menu__item-label
                p.main-menu__item-label-text= link.label

    section.main-menu-panel
        .main-menu-panel__content
            if !logged
                include login_panel
    .main-menu-panel__backdrop
