extends main_layout

append head-styles
    link(rel='stylesheet', href='/assets/css/pages/home.css')

append head-scripts
    - pageClasses.push('page--home');

block content
    h2.title.page__title #{tr('Welcome to')} #[strong.display-title Blackrats]

    h3.header.header--v-shaped.js-sticky-header= tr("I' m a rat")
    .text-columns
        .text-columns__column
            h4.text-columns__column-title
                = tr('want_to.do_project')
            p.text-columns__column-text
                = tr('lorem.text')
        .text-columns__column
            h4.text-columns__column-title
                = tr('want_to.order_project')
            p.text-columns__column-text
                = tr('lorem.text')

    h3.header.header--v-shaped.js-sticky-header
        = tr('lorem.header')
    p.plain-text= tr('lorem.text')
    p.plain-text= tr('lorem.text')
    p.plain-text= tr('lorem.text')

    if !isLogged
        script(src='https://www.google.com/recaptcha/api.js?render=6LcD7HwUAAAAAAmhUZ3lLM-vB8B1zd98zqtHfVQY')
    
