doctype html

html(lang=locale || 'en')
    head
        meta(charset='utf8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        title Page

        block head-styles
            link(href='https://fonts.googleapis.com/css?family=Kumar+One+Outline', rel='stylesheet')
            link(href='https://fonts.googleapis.com/css?family=Hind', rel='stylesheet')
            link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.5.0/css/all.css")
            //if logged
                link(rel='stylesheet', href='/assets/css/login.css'
        block head-scripts
            - var pageClasses = ['page--main-menu_exists'];
            - var contentClasses = [];
            script(src='https://code.jquery.com/jquery-3.3.1.min.js')

    body.page(class = pageClasses)
        block body
            include components/main_menu
            main.content(class = contentClasses)
                block content

        block scripts
            script(type='module', src='/assets/js/main.js')
            if !isLogged
                script(src='assets/js/login/LoginController.js')
                script.
                    const login = new Login();
