extends main_layout

append head-styles
  link(rel="stylesheet" href="assets/css/user-settings.css")

block content
    #US_main_container
      #picture_row.US_row
        #avatar_row
          #avatar_container
            img(src="" alt="avatarPicture")
          input#US__username.toChange(value="Alan1234") 
      #options_row.US_row
        #basic_information
          h1 Basic information
          p Email
          #US__email example@example.com
          p Password
          input#US__password.inputToChange(type="password")
          p Country
          select#US__country.selectToChange
          
        #extended_information  
          h1 Extended information
          p City
          input#US__city.inputToChange
          p Birth Date
          select#US__day.selectToChange
          select#US__month.selectToChange
          select#US__year.selectToChange
          p Phone Number
          input#US__phone.inputToChange
          
