@main-menu-width: 3rem;
@main-menu-expanded-width: 15rem;
@main-menu-transition-tf: cubic-bezier(.85,.02,1,1);

:root {
  --dark: #3d4045;
  --faded: #686e6f;
  --primary: #788585;
  --accent: #9CAEA9;
  --light: #CCDAD1;
  --text: var(--light);

  //--dark: #44355B;
  //--faded: #31263E;
  //--primary: #221E22;
  //--accent: #ECA72C;
  //--light: #EE5622;
  //--text: white;

  //--dark: #3F3F37;
  //--faded: #D6D6B1;
  //--primary: #494331;
  //--accent: #878472;
  //--light: #DE541E;

}