.main-title {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.block--title {
  height: 5.5rem;
  position: relative;
  z-index: 2;
  text-align: center;
  margin: 5rem 0;
}
.block {
  display: flex;
  margin-top: 1rem;
  font-size: 1.2rem;
  padding: 0 1rem;
  text-align: justify;

  .block__column {
    flex-grow: 1;
    padding: 0 1rem;
  }
}
.js-header-fixed {
  position: fixed;
  top: 0;
  right: 0;
  left: 4rem;
  margin: unset;
}