#main-menu-panel {
  display: flex;
  justify-content: center;
  align-items: center;
}
#login-form {
  min-height: 80%;
  min-width: 15rem;
  display: flex;
  flex-direction: column;
  color: #ccc;
}
#login-form h3 {
  text-align: center;
  margin: auto 0 .5rem;
  font-size: 3rem;
}
#login-form :last-child {
  margin-bottom: auto;
}
#login-form .input-row {
  margin: 1rem 0;
}
#login-form .row {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}
#login-form button {
  width: 80%;
  margin: 0 10%;
}
#login-form a {
  color: inherit;
}