main {
  display: flex;
  justify-content: center;
  align-items: center;
}
#reg-form {
  min-height: 60vh;
  width: 70vw;
}
@keyframes highlight {
  50% {
    transform: scale(1.1);
  }
  to {
    transform: none;
  }
}
.input-row {
  min-height: 3.7rem;

  &:after {
    content: attr(data-error);
    text-align: right;
    font-size: .8rem;
    min-height: 1.5rem;
    color: #223;
    display: block;
    max-width: 70%;
    margin-left: auto;
    padding: .2rem 0;
    transform-origin: 100% 50%;
  }

  &.highlight:after {
    animation: highlight 300ms both;
  }
}
input, select, button {
  width: 100%;
  display: block;
  padding: .5rem .8rem;
  border-radius: .3rem .3rem .4rem .5rem;
  border: none;
  height: 2.2rem;

  &:focus {
    outline: none;
  }
}
button {
  cursor: pointer;
}
.reg__block {
  display: flex;
  justify-content: space-between;

  & > * {
    flex-grow: 1;
  }

  input {
    display: inline;
  }
}

.reg__selection {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 1rem;

  [type="radio"] {
    display: none;

    &:checked ~ .check {
      transform: none;
    }
    &:checked ~ .uncheck {
      transform: rotateY(180deg);
    }
  }

  .checkbox {
    flex-grow: 1;
    backface-visibility: hidden;
    cursor: pointer;
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
    vertical-align: middle;
    transform-style: preserve-3d;
    transition: 500ms ease-in-out;

    &.check {
      transform: rotateY(180deg);
    }
  }

  label:not(.checkbox) {
    flex-grow: 3;
    font-size: 1rem;
  }
}

p.error {
  text-align: right;
  font-size: 1rem;
  height: 1.5rem;
  color: #ffdf97;
}

.input-block__icon {
  position: relative;

  .input-icon {
    position: absolute;
    top: .6rem;
    right: .8rem;
    width: 1rem;
    height: 1rem;
    font-size: 1rem;
    cursor: pointer;

    &.hidden {
      opacity: .3;
    }
  }
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

#js-loading-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255,255,255,.3);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  .loading-spinner {
    height: 2rem;
    width: 2rem;
    font-size: 2rem;
  }

  &.visible {
    display: flex;

    .loading-spinner {
      animation: spin 1s cubic-bezier(.25,.1,.75,.9) infinite;
    }
  }
}
