// out: ../css/user-settings.css, sourcemap: true, compress: false

#US_main_container {
  width: 80vw;
  height: 80vh;
  position: absolute;
  top: calc(50vh - 40vh);
  left: calc(50vw - 40vw + 2rem);

  background-color: #737373;
  overflow:hidden;
  -webkit-box-shadow: 0px 0px 34px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 34px -9px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 34px -9px rgba(0,0,0,0.75);

  display: -webkit-flex;
  display: -ms-flex;
  display: flex;

  .US_row {
    height: 100%;
    width: 50%;

    & input{
      background-color: transparent;
      border: none;
    }
    & select{
      background-color: transparent;
      border: none;
    }
  }

  #picture_row{
    width: calc(50% - 7rem);
    margin-left: 1rem;

    background-color: #636363;
    -webkit-box-shadow: inherit;
    -moz-box-shadow: inherit;
    box-shadow: inherit;
    border-radius: 5%;

    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    align-items: center;

      #avatar_row{
        #avatar_container{
          width: 15rem; height: 15rem;

          border-radius: 50%;
          border: 2px dashed #000;
          overflow: hidden;

          display: -webkit-flex;
          display: -ms-flex;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        #US__password{
          width: 100%;
          margin: 0; padding: 0;
          margin-top: 3rem;

          text-align: center;
          letter-spacing: 2px;
          font-family: "Century Gothic";
          font-size: 20px;
        }
      }
  }

  #options_row{

  }
}
