.main-menu-panel {
  position: absolute;
  top: 0; bottom: 0; left: @main-menu-width;
  width: 0;
  z-index: -1;
}

.main-menu-panel__content {
  height: 100%;
  width: calc(90vw - @main-menu-width);
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-menu-panel__backdrop {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: -100vw;
  z-index: -2;
  display: none;
}

.main-menu.shown .main-menu-panel {
  width: 100vw;
}

.main-menu-panel__section {
  display: none;
  min-width: 30%;
  min-height: 50%;
}

.main-menu-panel__section--visible {
  display: initial;
}