.main-menu {
  position: fixed;
  top: 0; left: 0; bottom: 0;
  width: @main-menu-width;
  z-index: 10;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
}

.main-menu__items-container {
  flex: 1;
  width: 10%;
  overflow: hidden;
  transition: inherit;
}

// TODO: решить, удаляем ли раскрывающееся меню
//.main-menu:hover, .main-menu.shown {
  //width: 15rem;

  //.main-menu__item-label {
  //  width: 11rem;
  //}

  //.main-menu-panel {
  //  left: 15rem;
  //}
//}

