/* Abstracts */
:root {
  --dark: #3d4045;
  --faded: #686e6f;
  --primary: #788585;
  --accent: #9CAEA9;
  --light: #CCDAD1;
  --text: var(--light);
}
/* Base */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
html,
body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button:focus,
input:focus {
  outline: none;
}
body {
  background: var(--faded) linear-gradient(to right bottom, transparent, rgba(0, 0, 0, 0.6)) fixed;
}
input,
button,
select {
  padding: 0.5em 0.8em;
  border: 1px solid rgba(0, 0, 0, 0.7);
  width: 100%;
}
.m-0 {
  margin: 0 !important;
}
.mt-0,
.my-0 {
  margin-top: 0 !important;
}
.mr-0,
.mx-0 {
  margin-right: 0 !important;
}
.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}
.ml-0,
.mx-0 {
  margin-left: 0 !important;
}
.m-1 {
  margin: 0.25rem !important;
}
.mt-1,
.my-1 {
  margin-top: 0.25rem !important;
}
.mr-1,
.mx-1 {
  margin-right: 0.25rem !important;
}
.mb-1,
.my-1 {
  margin-bottom: 0.25rem !important;
}
.ml-1,
.mx-1 {
  margin-left: 0.25rem !important;
}
.m-2 {
  margin: 0.5rem !important;
}
.mt-2,
.my-2 {
  margin-top: 0.5rem !important;
}
.mr-2,
.mx-2 {
  margin-right: 0.5rem !important;
}
.mb-2,
.my-2 {
  margin-bottom: 0.5rem !important;
}
.ml-2,
.mx-2 {
  margin-left: 0.5rem !important;
}
.m-3 {
  margin: 1rem !important;
}
.mt-3,
.my-3 {
  margin-top: 1rem !important;
}
.mr-3,
.mx-3 {
  margin-right: 1rem !important;
}
.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}
.ml-3,
.mx-3 {
  margin-left: 1rem !important;
}
.m-4 {
  margin: 1.5rem !important;
}
.mt-4,
.my-4 {
  margin-top: 1.5rem !important;
}
.mr-4,
.mx-4 {
  margin-right: 1.5rem !important;
}
.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}
.ml-4,
.mx-4 {
  margin-left: 1.5rem !important;
}
.m-5 {
  margin: 3rem !important;
}
.mt-5,
.my-5 {
  margin-top: 3rem !important;
}
.mr-5,
.mx-5 {
  margin-right: 3rem !important;
}
.mb-5,
.my-5 {
  margin-bottom: 3rem !important;
}
.ml-5,
.mx-5 {
  margin-left: 3rem !important;
}
.p-0 {
  padding: 0 !important;
}
.pt-0,
.py-0 {
  padding-top: 0 !important;
}
.pr-0,
.px-0 {
  padding-right: 0 !important;
}
.pb-0,
.py-0 {
  padding-bottom: 0 !important;
}
.pl-0,
.px-0 {
  padding-left: 0 !important;
}
.p-1 {
  padding: 0.25rem !important;
}
.pt-1,
.py-1 {
  padding-top: 0.25rem !important;
}
.pr-1,
.px-1 {
  padding-right: 0.25rem !important;
}
.pb-1,
.py-1 {
  padding-bottom: 0.25rem !important;
}
.pl-1,
.px-1 {
  padding-left: 0.25rem !important;
}
.p-2 {
  padding: 0.5rem !important;
}
.pt-2,
.py-2 {
  padding-top: 0.5rem !important;
}
.pr-2,
.px-2 {
  padding-right: 0.5rem !important;
}
.pb-2,
.py-2 {
  padding-bottom: 0.5rem !important;
}
.pl-2,
.px-2 {
  padding-left: 0.5rem !important;
}
.p-3 {
  padding: 1rem !important;
}
.pt-3,
.py-3 {
  padding-top: 1rem !important;
}
.pr-3,
.px-3 {
  padding-right: 1rem !important;
}
.pb-3,
.py-3 {
  padding-bottom: 1rem !important;
}
.pl-3,
.px-3 {
  padding-left: 1rem !important;
}
.p-4 {
  padding: 1.5rem !important;
}
.pt-4,
.py-4 {
  padding-top: 1.5rem !important;
}
.pr-4,
.px-4 {
  padding-right: 1.5rem !important;
}
.pb-4,
.py-4 {
  padding-bottom: 1.5rem !important;
}
.pl-4,
.px-4 {
  padding-left: 1.5rem !important;
}
.p-5 {
  padding: 3rem !important;
}
.pt-5,
.py-5 {
  padding-top: 3rem !important;
}
.pr-5,
.px-5 {
  padding-right: 3rem !important;
}
.pb-5,
.py-5 {
  padding-bottom: 3rem !important;
}
.pl-5,
.px-5 {
  padding-left: 3rem !important;
}
/* Layout */
.page--main-menu_exists {
  padding-left: 4rem;
}
.main-menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 4rem;
  z-index: 10;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
}
.main-menu__items-container {
  flex: 1;
  width: 10%;
  overflow: hidden;
  transition: inherit;
}
.main-menu__panel {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  z-index: -1;
}
.main-menu__panel-content {
  height: 100%;
  width: calc(90vw - 15rem);
}
.main-menu__panel-backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: -100vw;
  z-index: -2;
}
.main-menu:hover,
.main-menu.shown {
  width: 15rem;
}
.main-menu:hover .main-menu__item-label,
.main-menu.shown .main-menu__item-label {
  width: 11rem;
}
.main-menu:hover .main-menu__panel,
.main-menu.shown .main-menu__panel {
  left: 15rem;
}
.main-menu.shown .main-menu__panel {
  width: 100vw;
}
/* Components */
.content {
  color: var(--text);
}
.display-title {
  font-family: "Kumar One Outline", cursive;
  text-transform: uppercase;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  filter: drop-shadow(1px 5px 4px rgba(0, 0, 0, 0.4));
  opacity: 0.9;
  font-size: 2em;
  min-height: 2.5em;
}
.header--v-shaped {
  background: linear-gradient(3deg, transparent 1.4979rem, var(--dark) 2.6vw, var(--dark) 40%, #3a3a3e) no-repeat 0 0, linear-gradient(-3deg, transparent 1.4979rem, var(--dark) 2.6vw, var(--dark) 40%, #3a3a3e) no-repeat 100% 0;
  background-size: 50.1% 100%;
}
.header--sticked {
  position: fixed;
  top: 0;
  left: 4rem;
  right: 0;
}
.header--invisible {
  visibility: hidden;
}
.logo {
  background: var(--faded);
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo__image {
  width: 75%;
}
.main-menu {
  display: flex;
  flex-direction: column;
  transition: width 200ms cubic-bezier(0.85, 0.02, 1, 1);
  box-shadow: 1px 0 5px rgba(0, 0, 0, 0.4);
}
.main-menu__logo {
  height: 4rem;
  transition: 200ms ease;
}
.main-menu__logo-image {
  width: 3rem;
}
.main-menu__logo:hover {
  filter: brightness(1.05);
}
.main-menu__item {
  background: var(--primary);
  display: flex;
  position: relative;
  left: 0;
  align-items: center;
  transition: 200ms ease;
}
.main-menu__item:hover {
  left: 2rem;
  filter: brightness(1.2);
}
.main-menu__item:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: -2rem;
  width: 2rem;
  background: inherit;
}
.main-menu__item--active {
  background: var(--accent);
}
.main-menu__item--js-switch--menu-opened {
  background: var(--dark);
}
.main-menu__item-icon {
  display: block;
  min-width: 4rem;
  max-width: 4rem;
  height: 1em;
  font-size: 1.5em;
  text-align: center;
}
.main-menu__item-label {
  overflow: hidden;
  width: 0;
  line-height: 1.2em;
  font-size: 1.1em;
  transition: width 200ms cubic-bezier(0.85, 0.02, 1, 1);
}
.main-menu__item-label-text {
  width: 11rem;
  padding-right: 1em;
}
.main-menu__panel {
  transition: width 400ms ease, left 200ms cubic-bezier(0.85, 0.02, 1, 1);
  overflow: hidden;
}
.main-menu__panel-content {
  background: var(--dark);
}
.main-menu__panel-backdrop {
  background: black;
  display: none;
  opacity: 0.3;
}
.menu {
  display: flex;
  flex-direction: column;
}
.menu__item {
  flex: 1;
  text-decoration: none;
  color: inherit;
}
.title {
  text-align: center;
  font-size: 4em;
}
/*# sourceMappingURL=main.css.map */