main {
  display: flex;
  justify-content: center;
  align-items: center;
}
#reg-form {
  min-height: 60vh;
  width: 70vw;
}
@keyframes highlight {
  50% {
    transform: scale(1.1);
  }
  to {
    transform: none;
  }
}
.input-row {
  min-height: 3.7rem;
}
.input-row:after {
  content: attr(data-error);
  text-align: right;
  font-size: 0.8rem;
  min-height: 1.5rem;
  color: #223;
  display: block;
  max-width: 70%;
  margin-left: auto;
  padding: 0.2rem 0;
  transform-origin: 100% 50%;
}
.input-row.highlight:after {
  animation: highlight 300ms both;
}
input,
select,
button {
  width: 100%;
  display: block;
  padding: 0.5rem 0.8rem;
  border-radius: 0.3rem 0.3rem 0.4rem 0.5rem;
  border: none;
  height: 2.2rem;
}
input:focus,
select:focus,
button:focus {
  outline: none;
}
button {
  cursor: pointer;
}
.reg__block {
  display: flex;
  justify-content: space-between;
}
.reg__block > * {
  flex-grow: 1;
}
.reg__block input {
  display: inline;
}
.reg__selection {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 1rem;
}
.reg__selection [type="radio"] {
  display: none;
}
.reg__selection [type="radio"]:checked ~ .check {
  transform: none;
}
.reg__selection [type="radio"]:checked ~ .uncheck {
  transform: rotateY(180deg);
}
.reg__selection .checkbox {
  flex-grow: 1;
  backface-visibility: hidden;
  cursor: pointer;
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  vertical-align: middle;
  transform-style: preserve-3d;
  transition: 500ms ease-in-out;
}
.reg__selection .checkbox.check {
  transform: rotateY(180deg);
}
.reg__selection label:not(.checkbox) {
  flex-grow: 3;
  font-size: 1rem;
}
p.error {
  text-align: right;
  font-size: 1rem;
  height: 1.5rem;
  color: #ffdf97;
}
.input-block__icon {
  position: relative;
}
.input-block__icon .input-icon {
  position: absolute;
  top: 0.6rem;
  right: 0.8rem;
  width: 1rem;
  height: 1rem;
  font-size: 1rem;
  cursor: pointer;
}
.input-block__icon .input-icon.hidden {
  opacity: 0.3;
}
@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}
#js-loading-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.3);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
#js-loading-backdrop .loading-spinner {
  height: 2rem;
  width: 2rem;
  font-size: 2rem;
}
#js-loading-backdrop.visible {
  display: flex;
}
#js-loading-backdrop.visible .loading-spinner {
  animation: spin 1s cubic-bezier(0.25, 0.1, 0.75, 0.9) infinite;
}
/*# sourceMappingURL=registration.less.css.map */