.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.form__input-row {
  width: 100%;
}
.form__row {
  width: 100%;
}
.form__input {
  width: 100%;
  padding: 0.2em 0.5em;
}
/*# sourceMappingURL=_form.css.map */