.main-menu-panel__backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: -100vw;
  z-index: -2;
}
.main-menu.shown .main-menu-panel {
  width: 100vw;
}
/*# sourceMappingURL=_main-menu-panel.css.map */