extends ../main_layout

append head-styles
    link(href='assets/css/pages/registration.css', rel='stylesheet')

append head-scripts
    - pageClasses.push('page--registration');
    - contentClasses.push('page--registration__content');
    script(src='assets/js/registration/RegFrontValidator.js')

block content
    form.form.page--registration__form(method='post', action='')
        // TODO: delete test values
        .form__input-row
            input.form__input#reg__email(
            type='text', name='email',
            placeholder='Email', value='s@ss.sss',
            tabindex='1'
            )
        .form__input-row.form__input-row-icon
            input.form__input#reg__pw(
            type='password', name='password',
            placeholder='Password', value='veryOriginalPassword',
            tabindex='2'
            )
            i.form__input-icon.fa.fa-eye.form__js-password-show.form__input-icon--hidden

        .form__input-row
            input.form__input#reg__username(
            type='text', name='username',
            placeholder='Username', value='beautifulUsername',
            tabindex='3'
            )
        .form__input-row
            select.form__select#reg__country(tabindex='4')
                option Country
                if (countries)
                    each country in countries
                        option #{country}

        .form__row#reg__client-type
            .form__selection
                input.form__checkbox#reg__worker-choice(
                type='radio', name='clientType-status',
                value='worker', checked,
                )
                .form__checkbox-view
                    label.form__checkbox-item.form__checkbox-item--checked.fa.fa-check(for='reg__worker-choice')
                    label.form__checkbox-item.form__checkbox-item--unchecked.fa.fa-times(for='reg__worker-choice')
                label(for='reg__worker-choice') Worker
            .form__selection
                input.form__checkbox#reg__client-choice(
                type='radio', name='clientType-status',
                value='client',
                )
                .form__checkbox-view
                    label.form__checkbox-item.form__checkbox-item--checked.fa.fa-check(for='reg__client-choice')
                    label.form__checkbox-item.form__checkbox-item--unchecked.fa.fa-times(for='reg__client-choice')
                label(for='reg__client-choice') Client

        .form__row
            button.form__btn(tabindex='5') Confirm
    script(src='https://www.google.com/recaptcha/api.js?render=6LcD7HwUAAAAAAmhUZ3lLM-vB8B1zd98zqtHfVQY')
    script.
        $(document).ready(function () {
            new RegFrontValidator();
        });
