.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #cccccc;
}

.form__title {
  font: 2.5em "Helvetica", sans-serif;
  text-align: center;
}

.form__row {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.form__input, .form__btn, .form__select {
  padding: .8em .5em;
}

.form__input, .form__select, .form__row, .form__input-row {
  width: 100%;
}

.form__btn {
  width: 80%;
}

.form__input-row-icon {
  position: relative;
}

.form__input-icon {
  position: absolute;
  font-size: 1em;
  width: 1em;
  height: 1em;
  top: .7em; right: 1em;
  color: black;
}

.form__input-icon--hidden {
  opacity: .4;
}

.form__link {
  text-decoration: none;
  color: inherit;
}

.form__checkbox {
  display: none;
}
