.header {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  filter: drop-shadow(1px 5px 4px rgba(0,0,0,.4));
  opacity: .9;
  font-size: 2em;
  min-height: 2.5em;
}
.header--v-shaped {
  background:
          linear-gradient(3deg, transparent 1.4979rem, var(--dark) 2.6vw, var(--dark) 40%, #3a3a3e)
          no-repeat 0 0,
          linear-gradient(-3deg, transparent 1.4979rem, var(--dark) 2.6vw, var(--dark) 40%, #3a3a3e)
          no-repeat 100% 0;
  background-size: 50.1% 100%;
}
.header--sticked {
  position: fixed;
  top: 0; left: @main-menu-width; right: 0;
}
.header--invisible {
  visibility: hidden;
}