.main-menu {
  display: flex;
  flex-direction: column;
  transition: width 200ms @main-menu-transition-tf;
  box-shadow: 1px 0 5px rgba(0,0,0,.4);
}

.main-menu__logo {
  height: @main-menu-width;
  transition: 200ms ease;
}

.main-menu__logo-image {
  width: @main-menu-width * .75;
}

.main-menu__logo:hover {
  filter: brightness(1.05);
}

.main-menu__item {
  background: var(--primary);
  display: flex;
  position: relative;
  left: 0;
  align-items: center;
  transition: all 200ms ease;
}

.main-menu__item:hover {
  left: 1rem;
}
// Menu switchers don't change color when menu's opened
.main-menu__item:not(.main-menu__item--js-switch--menu-opened):hover {
  filter: brightness(1.2);
}

.main-menu__item:before {
  content: '';
  position: absolute;
  top: 0; bottom: 0; left: -1.5rem;
  width: 1.5rem;
  background: inherit;
}

.main-menu__item--active {
  background: var(--accent);
}

.main-menu__item--js-switch--menu-opened {
  background: var(--dark);
}

.main-menu__item-icon {
  display: block;
  min-width: @main-menu-width;
  max-width: @main-menu-width;
  height: 1em;
  font-size: 1.5em;
  text-align: center;
}

.main-menu__item-label {
  overflow: hidden;
  width: 0;
  line-height: 1.2em;
  font-size: 1.1em;
  transition: width 200ms @main-menu-transition-tf;
}
.main-menu__item-label-text {
  width: @main-menu-expanded-width - @main-menu-width;
  padding-right: 1em;
}
