.main-menu-panel {
  transition:
          width 400ms ease,
          left 200ms @main-menu-transition-tf;
  overflow: hidden;
}

.main-menu-panel__content {
  background: var(--dark);
}

.main-menu-panel__backdrop {
  background: black;
  display: none;
  opacity: .3;
  pointer-events: none;
}